Repository colin-nolan/timeventx: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Adds indicator of overall coverage.
  README.md
Due: none

Upload backend coverage from frontend tests.
  .drone.yml
  Makefile
  README.md
Due: none

Implements timer runner.
  README.md
  backend/garden_water/_common.py
  backend/garden_water/_logging.py
  backend/garden_water/configuration.py
  backend/garden_water/main.py
  backend/garden_water/rp2040.py
  backend/garden_water/tests/test_logging.py
  backend/garden_water/tests/test_main.py
  backend/garden_water/tests/test_web_server.py
  backend/garden_water/timer_runner.py
  backend/garden_water/timers/collections/listenable.py
  backend/garden_water/timers/timers.py
  frontend/README.md
  frontend/src/components/TimerCreationRow.tsx
  frontend/src/components/TimerRow.tsx
  frontend/src/components/TimersTable.tsx
  frontend/src/lib/time-seralisation.ts
  frontend/tests/system/timers.spec.ts
Due: frontend, backend

Fixes tests.
  backend/garden_water/main.py
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Work on timers runner run test.
  backend/garden_water/tests/_common.py
  backend/garden_water/tests/test_timer_runner.py
Due: backend

Adds basic tests where runner action is performed.
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Work on runner testing.
  backend/garden_water/tests/test_timer_runner.py
Due: backend

Additional testing.
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Replace on timer with off.
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Adds test around running timer runner.
  backend/garden_water/main.py
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Do off action if timer runner stopped whilst on.
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Abandon display of (unreliable) Codecov flags.
  README.md
Due: none

Harden package install with Yarn in CI.
  .drone.yml
Due: none

Minor test improvement.
  backend/garden_water/tests/test_timer_runner.py
Due: backend

Update Yarn packages.
  frontend/yarn.lock
Due: frontend

Remove code for condition that cannot be replicated.
  backend/garden_water/timer_runner.py
Due: backend

Implements action controller concept.
  backend/garden_water/actions.py
  backend/garden_water/main.py
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
Due: backend

Implemented dynamic action controller setting.
  backend/garden_water/actions.py
  backend/garden_water/actions/__init__.py
  backend/garden_water/actions/actions.py
  backend/garden_water/actions/noop.py
  backend/garden_water/configuration.py
  backend/garden_water/main.py
  backend/garden_water/tests/test_main.py
  backend/garden_water/tests/test_timer_runner.py
  backend/garden_water/timer_runner.py
  scripts/run-test-backend-server.sh
Due: backend

Rebrand to timeventx.
  .drone.yml
  Makefile
  README.md
  backend/.gitignore
  backend/README.md
  backend/pyproject.toml
  backend/timeventx/__init__.py
  backend/timeventx/_common.py
  backend/timeventx/_logging.py
  backend/timeventx/actions/__init__.py
  backend/timeventx/actions/actions.py
  backend/timeventx/actions/noop.py
  backend/timeventx/configuration.py
  backend/timeventx/main.py
  backend/timeventx/rp2040.py
  backend/timeventx/tests/__init__.py
  backend/timeventx/tests/_common.py
  backend/timeventx/tests/test_logging.py
  backend/timeventx/tests/test_main.py
  backend/timeventx/tests/test_timer_runner.py
  backend/timeventx/tests/test_web_server.py
  backend/timeventx/tests/timers/__init__.py
  backend/timeventx/tests/timers/test_collections.py
  backend/timeventx/tests/timers/test_intervals.py
  backend/timeventx/tests/timers/test_timers.py
  backend/timeventx/timer_runner.py
  backend/timeventx/timers/__init__.py
  backend/timeventx/timers/collections/__init__.py
  backend/timeventx/timers/collections/abc.py
  backend/timeventx/timers/collections/database.py
  backend/timeventx/timers/collections/listenable.py
  backend/timeventx/timers/collections/memory.py
  backend/timeventx/timers/intervals.py
  backend/timeventx/timers/serialisation.py
  backend/timeventx/timers/timers.py
  backend/timeventx/web_server.py
  frontend/index.html
  scripts/create-config.py
  scripts/device/main.py
  scripts/run-test-backend-server.sh
Due: frontend, backend

Change from "system" tests to "e2e".
  .drone.yml
  Makefile
  frontend/package.json
Due: frontend

Adds logo.
  README.md
  docs/logo.png
  images/logo.xcf
Due: none

Adds logo to website.
  frontend/index.html
  frontend/package.json
  frontend/playwright.config.ts
  frontend/public/logo-192x192.svg
  frontend/public/logo-transparent-32x32.png
  frontend/src/components/Header.tsx
  frontend/yarn.lock
Due: frontend

Work on README.
  README.md
  docs/frontend.png
  frontend/README.md
Due: frontend

Simplify frontend dev by auto starting backend.
  frontend/package.json
Due: frontend

Add more details about environment variables in README.
  README.md
Due: none

Upgrades and improvements.
  .drone.yml
  Makefile
  README.md
  docs/frontend.png
  frontend/package.json
  frontend/playwright.config.ts
  frontend/yarn.lock
Due: frontend

Adds regression test for double slash path error.
  README.md
  backend/timeventx/tests/test_web_server.py
Due: backend

Fixes double slash server error.
  backend/README.md
  backend/timeventx/tests/test_web_server.py
  backend/timeventx/web_server.py
Due: backend

POC triggering client side basic auth.
  backend/mips-requirements.py
  backend/timeventx/web_server.py
Due: backend

Implements basic auth.
  backend/mips-requirements.py
  backend/timeventx/app.py
  backend/timeventx/app_utils.py
  backend/timeventx/configuration.py
  backend/timeventx/main.py
  backend/timeventx/tests/test_web_server.py
  scripts/run-test-backend-server.sh
Due: backend

Applied auth to all relevant endpoints.
  backend/timeventx/app.py
  backend/timeventx/app_utils.py
Due: backend

Fixes tests.
  backend/timeventx/app.py
  backend/timeventx/app_utils.py
  backend/timeventx/configuration.py
  backend/timeventx/tests/test_main.py
  backend/timeventx/tests/test_web_server.py
Due: backend

Tests authorisation.
  backend/README.md
  backend/timeventx/tests/test_web_server.py
  scripts/run-test-backend-server.sh
Due: backend

Adds TIMEVENTX_BASE64_ENCODED_CREDENTIALS to README.
  README.md
Due: none

Fixes deployment issues.
  Makefile
  README.md
  backend/mips-requirements.py
  backend/timeventx/app.py
  backend/timeventx/app_utils.py
  backend/timeventx/configuration.py
  scripts/build-backend.sh
  scripts/build-frontend.sh
  scripts/build.sh
  scripts/deploy.sh
  scripts/device/README.md
Due: backend

Fixes ci.
  .drone.yml
Due: none

Fixes entrypoint on device.
  README.md
  scripts/build-backend.sh
Due: none

Adds API endpoint to get config.
  README.md
  backend/timeventx/app.py
  backend/timeventx/configuration.py
Due: backend

Adds tests for GET config.
  backend/.gitignore
  backend/timeventx/tests/test_app.py
  backend/timeventx/tests/test_main.py
Due: backend

Adds config view in frontend.
  frontend/src/components/Header.tsx
  frontend/src/index.tsx
  frontend/src/lib/api-client.ts
  frontend/src/pages/Config/index.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/
  backend: any of: backend/
