Repository colin-nolan/timeventx: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Adds tests for config on frontend.
  frontend/tests/system/page-loads.spec.ts
  frontend/tests/unit/api-client.spec.ts
Due: frontend

Improves config JSON structure.
  backend/timeventx/app.py
  backend/timeventx/configuration.py
  backend/timeventx/tests/test_app.py
Due: backend

Fixes formatting.
  backend/timeventx/app.py
  backend/timeventx/configuration.py
  backend/timeventx/tests/test_app.py
Due: backend

Fixes test cwd issue.
  backend/timeventx/tests/test_app.py
Due: backend

Updates README.
  README.md
Due: none

Fixed problems with getting config on MicroPython.
  README.md
  backend/mips-requirements.py
  backend/timeventx/app.py
Due: backend

Removes ref to old file
  scripts/build-backend.sh
Due: none

Remove type hinting in mips install script
  backend/mips-requirements.py
Due: backend

Set host for web server.
  frontend/playwright.config.ts
Due: frontend

Move to using GHA instead of Drone CI.
  .drone.yml
  .github/workflows/ci.yml
Due: none

Updates badge.
  README.md
Due: none

Updates licence year.
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/
  backend: any of: backend/
